{% extends "shared/base.html" %}
{%  block page_js %}
    <script>
    $(function() {
        $( "#{{ form.doc_date_created.auto_id }}" ).datepicker({ dateFormat: 'yy/mm/dd' });
    });
    </script>
{%  endblock %}
{% block page_content %}<h1>Upload new document</h1>

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.doc_description.label_tag }}</p>
    <p>
    {{ form.doc_description.errors }}
    {{ form.doc_description }}
    </p>
    <p>{{ form.doc_date_created.label_tag }}</p>
    <p>
    {{ form.doc_date_created.errors }}
    {{ form.doc_date_created }}
    </p>
    <p>{{ form.docfile.label_tag }}</p>
    <p>
    {{ form.docfile.errors }}
    {{ form.docfile }}
    </p>    
    <input type="submit" value="Submit">
</form>
{% endblock %}