<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    {%  block page_js %} {%  endblock %}
    {%  block page_css %} {%  endblock %}

    {% load staticfiles %}
    <LINK href="{% static "shared/base.css" %}" rel="stylesheet" type="text/css">
    <title>File Manager</title>
</head>
<body>
{% if user.is_authenticated %}
    <div class="logout"><a href={% url 'users:logout_user' %}>Logout</a></div>
{% endif %}
{% block page_content %}{% endblock %}
</body>
</html>