{% extends "shared/base.html" %}
{% block page_css %}
    {% load staticfiles %}
    <LINK href="{% static "accounts/accounts.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_content %}
<div class="body">
<h1>Success</h1>

<form action="" method="post">
	{% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}:<br/> {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endblock %}
</div>