<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script>
    $(function() {
        $( "#{{ form.doc_date_created.auto_id }}" ).datepicker({ dateFormat: 'yy/mm/dd' });
    });
    </script>
</head>
<body>
<h1>Add new account</h1>

<form action="" method="post">
	{% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
</body>