{% extends "shared/base.html" %}
{%  block page_js %}
    {% load staticfiles %}

    <script>
    $(function() {
        $( "#{{ form.date_opened.auto_id }}" ).datepicker({ dateFormat: 'yy/mm/dd' });
        $( "#{{ form.date_closed.auto_id }}" ).datepicker({ dateFormat: 'yy/mm/dd' });
    });
    </script>
    <script type="text/javascript" language="javascript">

    </script>
{%  endblock %}
{% block page_css %}
    {% load staticfiles %}
    <LINK href="{% static "accounts/accounts.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_content %}
<div class="body">
<h1>{{ header }}</h1>

<form action="" method="post" id="newAccountForm">
	{% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}: {{ field.errors }} <br/> {{ field }}
        </div>
    {% endfor %}
    <div class="nonFormField">
        <input id="submitAccount" type="submit" value="Submit"> {{ updated }}
    </div>
</form>
</div>
{% endblock %}