{% extends "shared/base.html" %}
{% block page_content %}
<div class="body">
<h1>User Login</h1>

<form action="" method="post" id="loginForm">
	{% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}: {{ field.errors }} <br/> {{ field }}
        </div>
    {% endfor %}
    <div class="nonFormField">
        <input id="submitAccount" type="submit" value="Submit">
    </div>
</form>
</div>
{% endblock %}